name: majet
description: A new Flutter project.
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.0.3 <4.0.0"

dependencies:
  dio: ^5.9.0
  easy_localization: ^3.0.8
  flutter:
    sdk: flutter
  get_it: ^8.3.0
  intl: ^0.20.2
  stacked: ^3.5.0
  stacked_services: ^1.6.0
  supabase_flutter: ^2.10.3

dev_dependencies:
  build_runner: ^2.4.5
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  mockito: ^5.4.1
  stacked_generator: ^1.3.3
  golden_toolkit: ^0.15.0

flutter:
  uses-material-design: true
  assets:
    - assets/
